
<% provide(:title, "FotoShare - Forgot password") %>
<% provide(:maintitle, "Forgot Password") %>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <div class="form-group">
  	  	<%= f.label :email %> <br />
  	  	<%= f.text_field :email, :class => "form-control" %>
    </div>

  	<%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>
