
<% provide(:title, "FotoShare - #{@user.username}'s Groups") %>

<% if @user.id != current_user.id %>
	<% provide(:maintitle, "#{@user.username}'s Groups") %>
<% else %>
	<% provide(:maintitle, "Your Groups") %>
<% end %>

<ul>
	<% for g in @user.user_groups %>
		<li>
			<%= link_to g.name, user_group_path(:id => @user.id, :group => g.name) %>
		</li>	
	<% end %>
</ul>
