
<h1>Hello <%= @user.username %>!</h1>

<h2>Pending Relationship Requests</h2>

<ul>
	<% for r in @user.relationships %>
		<% if r.status == "pending" %>
			<li>
				<%= r.relationship.username %>
				Type: <%= r.relationship_type %> 
				<%= link_to "remove", r, :method => :delete %> 
			</li>
		<% end %>
	<% end %>
</ul>
