
<h1>Hello <%= @user.username %>!</h1>

<h2>Friends</h2>

<ul>
	<% for r in @user.relationships %>
		<li>
			<%= r.relationship.username %>
			<%= link_to "remove", r, :method => :delete %> 
		</li>
	<% end %>
</ul>
